    <div class="form">
        <a href="/addUser"><button> Ajouter un nouveau utilisateur </button></a>
    </div>
<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Username</th> <th>societe</th> <th>Role</th><th>Date de création du compte</th></tr>
    <tbody *ngFor="let user of users">
    <tr >
    <td>{{user.idUser}}</td>
    <td>{{user.username}}</td>
    <td>{{user.societe}}</td>
    <td>{{user.roles}}</td>
    <td>{{user.dateCreationCpt | date:'dd/MM/yyyy - HH:mm:ss' }}</td>
    <td><a class="btn btn-success" [routerLink]="['/updateUser',user.idUser]">Modifier</a></td>
    <td><a  class="btn btn-danger" (click)="supprimerUser(user)">Supprimer</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>