<div class="container">
    <div>
      <h2>Modifier un Utilisateur :</h2>
    </div>
    <form>
      <div class="form-group">
        <div class="input-container">
          <label>ID User</label>
          <input type="number" [(ngModel)]="currentUser.idUser" name="idUser" class="form-control">
        </div>
        <div class="input-container">
          <label>Username</label>
          <input type="text" [(ngModel)]="currentUser.name" name="username" class="form-control">
        </div>
        <div class="input-container">
          <label>Password</label>
          <input type="text" [(ngModel)]= "currentUser.password" name="password" class="form-control">
        </div>
        <div class="input-container">
          <label>Email</label>
          <input type="text" [(ngModel)]= "currentUser.email" name="email" class="form-control">
        </div>
        <div class="input-container">
          <label>Societe</label>
          <input type="text" [(ngModel)]= "currentUser.societe" name="societe" class="form-control">
        </div>
        <div class="input-container">
          <label>Roles</label>
          <input type="text" [(ngModel)]="currentUser.userRole" name="roles" class="form-control">
        </div>
      </div>
      <div class="mt-2">
        <button type="submit" (click)="updateUser()" class="btn btn-success">Modifer</button>
      </div>
    </form>
  </div>