<div class="container">
    <div>
    <h2>Ajouter un Utilisateur :</h2>
    </div>

    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID User</label>
        <input type="number" [(ngModel)]="newUser.idUser"
        name="idUser" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Username</label>
        <input type="text"[(ngModel)]= "newUser.username"
        name="nomProduit" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Password</label>
        <input type="text" [(ngModel)]= "newUser.password"
        name="password" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Email</label>
            <input type="text" [(ngModel)]= "newUser.email"
            name="email" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Societe</label>
            <input type="text" [(ngModel)]= "newUser.societe"
            name="societe" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Roles</label>
        <input type="text" [(ngModel)]= "newUser.roles"
        name="roles" class="form-control">
        </div>
        <div class="mt-2">
        <button type="submit" (click)="addUser()"class="btn btn-success">Ajouter</button>
        </div>
        </form>
        </div>
